<template>
    <div class="container">
        <button class="btn btn-warning btn-block">Message</button>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
